<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<h2>Links</h2>
				<p><a href="/">Home</a></p>
				<p><a href="/about">About</a></p>
				<p><a href="/posts">Posts</a></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<h2>Contact</h2>
				<p>East Gosala, Jaya Nagar</p>
				<p>Maligaon , Guwahati – 11 </p>
				<p>Phone: <span>+91 98648-54877</span></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<h2>Social</h2>
				<ul class="social-icons">
					<li><a href="https://www.facebook.com/anupamkumarpoet" target="_blank" class="fab fa-facebook"></a>
					</li>
					<li><a href="#" class="fab fa-instagram"></a></li>
					<li><a href="#" class="fab fa-twitter-square"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- divider section
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2020 poetanupamkumar.in
					- Designed By: <a href="https://www.instagram.com/thebhaskargogoi/">Bhaskar Gogoi</a></p>
			</div>
		</div>
	</div>
</div>

<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- javascript js -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/nivo-lightbox.min.js"></script>

<script src="/js/jquery.nav.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/imagesloaded.min.js"></script>
<script src="/js/custom.js"></script>

</body>

</html>