<!-- Main Content -->
<div class="post-category-banner">
    <p> About</p>
</div>
<div class="container">
    <div class="row" style="padding: 20px;">
        <div style="text-align:center;">
            <h1 style="text-align:center;">Anupam Kumar</h1>
            <h5>2<sup>nd</sup> April ,1959 - 21<sup>st</sup> December, 2019</h5>
        </div>
        <p>
            Anupam  Kumar was born on 2<sup>nd</sup>  April 1959 and brought up in Palashbari town in Kamrup district of Assam.
        </p>
        <p>
            A tender-hearted person, he welcomed all with open arms and always had his door open for those in need. His creations wrapped the essence of the forlorn and the joyful. His poems are not just a rallying cry, but these are also a unified voice for the poor and the helpless people, with a rebellious tune .Not only these! He was a brilliant translator and adept curator. His quest for dying folklore and its artists from various places and his endeavor to bring them on to the national stage, can only be perceived by those who witnessed it by themselves.
        </p>
        <p>
            A poet like Anupam Kumar who is loved by many is though no more among us; but his kind heart, poetic innocence and reasoning, and his creations will let people work for the people in days to come.
        </p>
        <p>
            Late Anupam Kumar, wrote as many as 22 books including PRIYAMKA, MOI AMULYA BARUA, NAILCUTTER ARU ANANYA KABITA, KUNDAT KATA PRITHIVIR BABE MOI TUMK HATYA KARIM, MATI KATHALAR GUNDH, AMUTHI ANDHAR AMUTHI PUHOR, ANDHAR SAMATAL, MEIN BECHTA HUN DARD, LOHIT GHATI KE GEET AUR KABITAYEIN , ASSAM KE LOK NRITYA  In original and also translated various books from Hindi. A Master-Degree holder, Late Kumar was felicitated by ex-Prime Minister, Atal  Bihari  Vajpaaye ,for his  Hindi poetry book “mein bechta hun dard”.He was a regular contributor to Assamese Journals. He left several books unpublished. In addition to these, he was engaged in research works, more particularly in relation to folk culture and Literature. He fostered development of Folk culture in North-East India. He was actively associated in development of Rabha,   Boro ,Hasang,karbi,tiwa etc. cultures of Assam and participated in team works of these cultures led by Director Office of Cultural Affairs of the state of Assam.
        </p>
        <p>
            He was an stage actor.  He also endeavored   for the development of the Bihu culture of Assam and emphasized national integration of the country through Bihu culture.
        </p>
        <p>
            As a genius of all points of literature and culture, He was loved and respected by people all over.
        </p>
        <h2>Education</h2>
        <p>
            M. A. In Hindi from Guwahati University
        </p>

        <h2>Mother Tongue</h2>
        <p>
            Assamese
        </p>
        <h2>Book Published</h2>
        <h4>Poetry</h4>
        <p>
            <ul>
                <li>Priyanka </li>
                <li>Moi Amulya Barua</li>
                <li>Nail Cutter Aru Ananya Kabita</li>
                <li> Kundat kota Prithibir Babe Moi tumak Hatya Korim </li>
                <li>Mati Kathalor Gondh</li>
                <li>Amuthi Andhar Amuthi Puhor</li>
            </ul>
        </p>
        <h4>Novel (Translation)</h4>
        <p>
            <ul>
                <li> Andhar Samatal</li>
                <li> Hindi Sahityar Shrestha Upahar </li>
                <li>Hanush</li>
                <li>Kabir, Galib , Amrita Pritam Ettady</li>
                <li>Tajmahalar Tender</li>
                <li>Agni Barsha</li>
                <li>Kabira Khara Bazar Me</li>
                <li>Galib Aru Galibar Kabita</li>
                <li> Andher Nagri Chaupat Raja</li>
                <li>Umraojan </li>
                <li>Samasamoaik Hindi Kabita</li>
                <li>Nirmala </li>
                <li>Shahjadi Firoza</li>
            </ul>
        </p>
        <h4>Poetry (Hindi)</h4>
        <p>
            <ul>
                <li>May Besta Hu Dard</li>
                <li>Lohit ghati Ki Geet Aur Kabitayen</li>
                <li>Assam Ke Lok Nritya</li>
            </ul>
        </p>
        <h2>Contribution</h2>
        <p>
            <ul>
                <li>Samkalin Bharatiya Sahitya ( Sahitya Akademi ) </li>
                <li> Bhasha ( Hindi Nideshalaya ) </li>
                <li>Prantik, Gariashi, Prakash etc. regular writer. </li>
            </ul>
        </p>
        <h2>Awards</h2>
        <p>
            <ul>
                <li>Aahindi Bhasi Lekhak Puraskar for the Petry “May
                    Besta Hu Dard’ awarded by Atal Bihari Bajpayee
                    Former Prime Minister</li>
                <li>Junior & Senior Fellowship awarded by Ministry of
                    Culture.</li>
                <li> “ Hanaghora “ (poem ) selected for the national Kabi Sanmeelan by Akashbani held at Bangalore.</li>
                <li>So many episodes written for Doordarshan Kendra Guwahati and Theme Song of North East award wine
                </li>
            </ul>
        </p>
        <h2>Research Work</h2>
        <p>
            <ul>
                <li> Folk Drama Institution of South Kamrup. </li>
                <li> A Comparative Study on Modern Assamese &
                    Hindi Poetry </li>
                <li>Musk making workshop by Sangeet
                    Natak Akademy. </li>
                <li>Workshop on HanaGhora , Jejera , Kalia etc.</li>
            </ul>
        </p>
        <h2>Drama (direction)</h2>
        <p>
            <ul>
                <li>Maharaja</li>
                <li>Sharthapar daitya </li>
                <li>Surjya Ahil </li>
                <li>Bagali Boga Phot Di Ja </li>
            </ul>
        </p>
        <h2>TV Acting & Cinema</h2>
        <p>
            <ul>
                <li> Adyajya : Directed by Santana Bordoloi </li>
                <li>Dahan : Directed by Bidyut Chakravarty</li>
                <li> Dhaniramor Dhan Directed by Bidyut
                    Chakravarty </li>
            </ul>
        </p>
        <h2>Perform </h2>
        <p>
            <ul>
                <li>Dhulia Jatra, Megh Doot Theatre SNA, New Delhi </li>
                <li>Octave festival , Hyderabad</li>
                <li>Ghosa Nampresent at Jaipur invited by Sangeet
                    Natak Akademy</li>
                <li>Hanaghora presenting Apna Utsav , New Delhi </li>
                <li>Dhulia Circus, Natya Parampara , New Delhi Organised by Sangeet Natak Akademi
                </li>
            </ul>
        </p>
    </div>
</div>