<div class="home-banner-top">
	<div class="container">
		<div class="row" style="margin-top: 80px;">
			<div class="col-sm-6">
				<img src="/images/image2020.png" alt="" style="z-index:998">
			</div>
			<div class="col-sm-6">
				<div style="z-index:998; padding: 10px; background-color: #800000;">
					<h2>Poet</h2>
					<h1>Anupam <strong>Kumar</strong></h1>
					<p>2<sup>nd</sup> April, 1959 to 21<sup>st</sup> December, 2019 </p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="smriti-grantha">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="image">
					<img src="/images/smriti-grantha.jpg" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="text">
					<div class="heading">স্মৃতি গ্ৰন্থ</div>
					নিজানত নদীৰ গান<br>
					<a href="https://drive.google.com/file/d/1lPExWxkWk1RJeUM-dOU1gISuXAIRguWJ/view?usp=sharing">
						<button>Read Here</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about section -->
<!-- <div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Minimax Story</h2>
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="images/about-img.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>ABOUT US</h3>
				<h4>Talented Designers &amp; Developers</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
					laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing
					elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
				<p>Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
					diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
			</div>
		</div>
	</div>
</div> -->

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- team section
<div id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>People behind the firm</h2>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="images/team1.jpg" class="img-responsive" alt="team img">
				<h3>Jonny Thinker</h3>
				<h4>Creative Director</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="images/team2.jpg" class="img-responsive" alt="team img">
				<h3>Michael</h3>
				<h4>CEO / Cc-founder</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="images/team3.jpg" class="img-responsive" alt="team img">
				<h3>George Walker</h3>
				<h4>Chief Designer</h4>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="images/team4.jpg" class="img-responsive" alt="team img">
				<h3>Mary Sandar</h3>
				<h4>UX Specialist</h4>
			</div>
		</div>
	</div>
</div> -->

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<div id="awards">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Awards</h2>
			</div>
			<div class="col-md-3 col-sm-3">
				<i class="fas fa-medal"></i>
				<h3>Aahindi Bhasi Lekhak Puraska</h3>
				<p>Aahindi Bhasi Lekhak Puraskar for the Petry “May
					Besta Hu Dard’ awarded by Atal Bihari Bajpayee
					Former Prime Minister. </p>
			</div>
			<div class="col-md-3 col-sm-3">
				<i class="fas fa-award"></i>
				<h3>Junior & Senior Fellowship</h3>
				<p>Junior & Senior Fellowship awarded by Ministry of
					Culture. </p>
			</div>
			<div class="col-md-3 col-sm-3">
				<i class="fas fa-trophy"></i>
				<h3>Hanaghora</h3>
				<p>"Hanaghora“ (poem ) selected for the National Kabi Sanmeelan by Akashbani held at Bangalore. </p>
			</div>
			<div class="col-md-3 col-sm-3">
				<i class="fas fa-cubes"></i>
				<h3>More..</h3>
				<p>So many episodes written for Doordarshan Kendra Guwahati and Theme Song of North East award wine.</p>
			</div>
		</div>
	</div>
</div>

<!-- Gallery section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>Gallery</h2><br>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<div class="iso-box-section">
						<div class="iso-box-wrapper col4-iso-box">
							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/1.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/1.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/2.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/2.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/3.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/3.jpg" alt="portfolio img"></a>
							</div>


							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/4.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/4.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/5.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/5.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/6.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/6.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/7.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/7.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/8.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/8.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-6 col-xs-12">
								<a href="images/gallery/9.jpg" data-lightbox-gallery="portfolio-gallery"><img
										src="images/gallery/9.jpg" alt="portfolio img"></a>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>